.container {
    background-color: lightblue;
    height: 300px;
    width: 460px;
    margin: 20px;
    left: 0;
    header {
        color: black;
        height: 50px;
        width: 460px;
        margin: 20px;
        font-size: 25px;
        padding: 20px;
    }
    ul {
        margin: 20px;
        padding: 50px;
        li {
            padding: 0px;
            font-size: 35px;
        }
    }
   
}
.purple {
    background-color: purple;
    height: 50px;
    width: 50px;
    right: 0px;
    top: 0px;
    position: fixed;
    
}
.footer {
    background-color: yellow;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}